    .jumbotron {
        background-color: #222831;
        color: #F05454;
        height: 10em;
        margin-top: 30px;
    }
    
    .jumbotron h1 {
        color: #F05454;
        font-weight: bold;
    }
    
    .navbar-brand {
        font-weight: bold;
        color: #F05454;
    }
    
    body {
        background-color: #DDDDDD;
        color: #222831;
    }
    
    footer {
        padding: 10px 10px 0 10px;
        background-color: #222831;
        color: #DDDDDD;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    
    footer a {
        text-decoration: none;
        color: #DDDDDD;
    }
    
    footer a:hover {
        color: #DDDDDD;
    }
    
    footer address {
        color: #DDDDDD;
    }
    
    footer .col-xs-6 {
        margin: 5px 0px 5px 0px;
    }
    /* Estilo home - cards, imgs, btns */
    
    .btn-reserva {
        background-color: #F05454;
        color: #DDDDDD;
    }
    
    .card-hotel {
        flex: 0 200px;
        margin: 5px 8px 8px 8px;
        background-color: #DDDDDD;
        border: none;
    }
    
    .card-howto {
        flex: 1 225px;
        margin: 5px 8px 8px 8px;
        background-color: #DDDDDD;
        border: none;
    }
    
    .btn-reserva {
        width: 200px;
        border-radius: 0px;
    }
    
    nav {
        padding: 0px 25px 0px 25px;
    }
    
    .footer-address-icon {
        padding-right: 10px;
    }
    
    .btn-reserva-icon {
        padding: 10px;
    }
    
    .bi {
        margin-right: 10px;
    }
    /* Diseño formulario de contacto */
    
    .contact {
        padding: 4%;
    }
    
    .col-md-3 {
        background: #F05454;
        padding: 4%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    
    .contact-info {
        margin-top: 10%;
    }
    
    .contact-info img {
        margin-bottom: 15%;
    }
    
    .contact-info h2 {
        margin-bottom: 10%;
    }
    
    .col-md-9 {
        background: #fff;
        padding: 3%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    
    .contact-form label {
        font-weight: 600;
    }
    
    .contact-form button {
        background: #222831;
        color: #fff;
        font-weight: 600;
        width: 25%;
        margin-top: 10px;
    }
    
    .contact-form button:focus {
        box-shadow: none;
    }
    /* ESTILO TABLA PRECIOS */
    
    thead {
        color: #F05454;
    }
    
    th,
    td {
        width: 10%;
        text-align: center;
        font-weight: 500;
    }
    /* ESTILO CARD TARJETAS ACEPTADAS */
    
    card-prices {
        flex: 0 200px;
        margin: 5px 8px 8px 8px;
        background-color: #DDDDDD;
        border: none;
    }
    
    .tab-content {
        padding-top: 10px;
    }
    
    .breadcrumb {
        margin: 10px 0 10px 0;
    }